<!doctype html>
<html><head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/styleAdminCuaHang.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script language="javascript" src="/javascripts/spAdmin.js"></script>
    <title>Admin</title>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <%include menu.ejs%>
        </div>
        <div class="col-9">
            <form class="form-header-ch">
                <span class="custom-span">Hệ thống các cửa hàng</span>
                <div class="search-spAdmin">
						<img src="images/search1.png" width="20px;">
						<input type="text">	
				</div>
            </form>

            <button class="btn-addCH-ch">Thêm cửa hàng</button>

            <form class="form-content-ch">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" width="5%;">STT</th>
                        <th scope="col" width="30%;">Địa chỉ cửa hàng</th>
                        <th scope="col" width="25%;">Số điện thoại liên lạc</th>
                        <th scope="col" width="15%;">Tên quản lý</th>
                        <th scope="col" width="15%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Quận 1, thành phố Hồ Chí Minh</td>
                        <td>(050) 305 305</td>
                        <td>Phan Đức Quân</td>
                        <td>
                            <img src="/images/delete.png">
                            <img src="/images/edit.png">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Quận 3, thành phố Hồ Chí Minh</td>
                        <td>(050) 305 306</td>
                        <td>Trần Ngọc Quang</td>
                        <td>
                            <img src="/images/delete.png">
                            <img src="/images/edit.png">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Quận 7, thành phố Hồ Chí Minh</td>
                        <td>(050) 305 307</td>
                        <td>Quang</td>
                        <td>
                            <img src="/images/delete.png">
                            <img src="/images/edit.png">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Quận 2, thành phố Hồ Chí Minh</td>
                        <td>(050) 305 308</td>
                        <td>Quân</td>
                        <td>
                            <img src="/images/delete.png">
                            <img src="/images/edit.png">
                        </td>
                    </tr>

                    </tbody>
                </table>
            </form>

        </div>
    </div>
</div>
</body>
</html>
