<!doctype html>
<html><head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/styleAdminDonHang.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script language="javascript" src="/javascripts/spAdmin.js"></script>
    <title>Admin</title>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <%include menu.ejs%>
        </div>
        <div class="col-9">
            <form class="form-header-dh">
                <span class="custom-span">Đơn hàng</span>
               <div class="search-spAdmin">
						<img src="images/search1.png" width="20px;">
						<input type="text">	
				</div>
            </form>

            <form class="form-content-dh">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" width="5%;">STT</th>
                        <th scope="col" width="20%;">Tên khách hàng</th>
                        <th scope="col" width="15%;">Mã đơn hàng</th>
                        <th scope="col" width="20%;">Ngày đặt hàng</th>
                        <th scope="col" width="15%">Thanh toán</th>
                        <th scope="col" width="15%">Trạng thái</th>
                        <th scope="col" width="10%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Phan Quân</td>
                        <td>DH1</td>
                        <td>03/04/2019</td>
                        <td>1.200.000$</td>
                        <td>Đã giao hàng</td>
                        <td>
                            <img src="/images/delete.png">
                            <img src="/images/edit.png">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Ngọc Quang</td>
                        <td>DH2</td>
                        <td>04/04/2019</td>
                        <td>4.200.000$</td>
                        <td>Đang giao hàng</td>
                        <td>
                            <img src="/images/delete.png">
                            <img src="/images/edit.png">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Phan Quân</td>
                        <td>DH3</td>
                        <td>13/04/2019</td>
                        <td>1.500.000$</td>
                        <td>Đã giao hàng</td>
                        <td>
                            <img src="/images/delete.png">
                            <img src="/images/edit.png">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Phan Quân</td>
                        <td>DH4</td>
                        <td>03/04/2019</td>
                        <td>1.200.000$</td>
                        <td>Đã giao hàng</td>
                        <td>
                            <img src="/images/delete.png">
                            <img src="/images/edit.png">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Ngọc Quang</td>
                        <td>DH5</td>
                        <td>13/04/2019</td>
                        <td>1.500.000$</td>
                        <td>Đã giao hàng</td>
                        <td>
                            <img src="/imagesdelete.png">
                            <img src="/images/edit.png">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Phan Quân</td>
                        <td>DH6</td>
                        <td>03/04/2019</td>
                        <td>1.200.000$</td>
                        <td>Đã giao hàng</td>
                        <td>
                            <img src="/images/delete.png">
                            <img src="/images/edit.png">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Ngọc Quang</td>
                        <td>DH7</td>
                        <td>13/04/2019</td>
                        <td>1.500.000$</td>
                        <td>Đã giao hàng</td>
                        <td>
                            <img src="/images/delete.png">
                            <img src="/images/edit.png">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Phan Quân</td>
                        <td>DH8</td>
                        <td>03/04/2019</td>
                        <td>1.200.000$</td>
                        <td>Đã giao hàng</td>
                        <td>
                            <img src="/images/delete.png">
                            <img src="/images/edit.png">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Ngọc Quang</td>
                        <td>DH9</td>
                        <td>13/04/2019</td>
                        <td>1.500.000$</td>
                        <td>Chưa giao hàng</td>
                        <td>
                            <img src="/images/delete.png">
                            <img src="/images/edit.png">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Phan Quân</td>
                        <td>DH10</td>
                        <td>03/04/2019</td>
                        <td>1.200.000$</td>
                        <td>Đã giao hàng</td>
                        <td>
                            <img src="/images/delete.png">
                            <img src="/images/edit.png">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
</div>
</body>
</html>
