<form class="form-left">
    <a href="/TaiKhoan"><img src="/images/logo1.png" style="width: 200px;"></a>
    <div class="form-selection">
        <div class="media">
            <div class="media-left">
                <a href="/TaiKhoan"><img src="/images/user.png" class="media-object1"></a>
            </div>
            <div class="media-body">
                <a href="/TaiKhoan"><h6 class="media-heading">Quản lý tài khoản</h6></a>
            </div>
        </div>
    </div>
    <div class="form-selection">
        <div class="media">
            <div class="media-left">
                <a href="/CuaHang"><img src="/images/shop-store.png" class="media-object2"></a>
            </div>
            <div class="media-body">
                <a href="/CuaHang"><h6 class="media-heading">Quản lý cửa hàng</h6></a>
            </div>
        </div>
    </div>
    <div class="form-selection">
        <div class="media">
            <div class="media-left">
                <a href="/SanPham"><img src="/images/box-closed.png" class="media-object3"></a>
            </div>
            <div class="media-body">
                <a href="/SanPham"><h6 class="media-heading">Quản lý hàng hóa</h6></a>
            </div>
        </div>
    </div>
    <div class="form-selection">
        <div class="media">
            <div class="media-left">
                <a href="#"><img src="/images/box-closed.png" class="media-object3"></a>
            </div>
            <div class="media-body">
                <a href="/NhaSX_LoaiSP"><h6 class="media-heading">Quản lý nhà sản xuất và loại sản phẩm</h6></a>
            </div>
        </div>
    </div>
    <div class="form-selection">
        <div class="media">
            <div class="media-left">
                <a href="/DonHang" ><img src="/images/bill.png" class="media-object4"></a>
            </div>
            <div class="media-body">
                <a href="/DonHang"><h6 class="media-heading">Đơn hàng</h6></a>
            </div>
        </div>
    </div>
    <div class="form-selection">
        <div class="media">
            <div class="media-left">
                <a href="/ThongKe" ><img src="/images/diagram.png" class="media-object5"></a>
            </div>
            <div class="media-body">
                <a href="/ThongKe" ><h6 class="media-heading">Thống kê</h6></a>
            </div>
        </div>
    </div>
</form>