<form class="form-top">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/images/user-blue.png">
          <!--  <span class="glyphicon glyphicon-chevron-down"></span>-->
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-header"><a href="/TrangCaNhan">Trang cá nhân</a></li>
            <li class="dropdown-header"><a href="/">Đăng xuất</a></li>
        </ul>
    </div>
</form>