<footer class="footer">
    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-3" style="padding-left: 50px">
            <h5 style="color: rgb(184, 33, 33)">Hệ thống cửa hàng</h5>
            <p><span><img id="icon" src="/images/address.jpg">Cơ sở 1 </span></p>
            <p>Địa chỉ: 227 Nguyễn Văn Cừ, Quận 5, TP HCM</p>
            <p>Hotline: (03)8 838 5252</p>
            <p><span><img id="icon" src="/images/address.jpg">Cơ sở 2 </span></p>
            <p>Địa chỉ: 227 Nguyễn Văn Cừ, Quận 5, TP HCM</p>
            <p>Hotline: (03)8 838 5252</p>
            <!-- <p><span><img id="icon" src="image/phone.jpg"> (03)8 838 5252</span></p>
            <p><span><img id="icon" src="image/mail.jpg"> Caronline@gmail.com</span></p> -->
        </div>
        <div class="col-xl-4 text-center">
            <h5 style="color: rgb(184, 33, 33)">Chấp nhận thanh toán</h5>
            <span><img src="/images/cart1.jpg"> <img src="/images/cart2.jpg"> <img src="/images/cart3.jpg">  </span>
            <div style="padding-top: 10px"><span><img src="/images/cart4.jpg"> <img src="/images/cart5.jpg"> <img src="/images/cart6.jpg">  </span></div>
            <h5 style="color: rgb(184, 33, 33); padding-top: 20px">Hotline hổ trợ trực tiếp</h5>
            <h5 ><span><img id="icon" src="/images/phone.jpg"> (053) 123 456 789</span></h5>
        </div>
        <div class="col-xl-3 text-left">
            <h5 style="color: rgb(184, 33, 33)">Hỗ trợ khách hàng</h5>
            <a href="#">Trang chủ</a>
            <br>
            <a href="#">Sản Phẩm</a><br>
            <a href="#">Lịch sử</a><br>
            <a href="#">Dịch vụ</a><br>
            <a href="#">Tin tức</a><br>
            <p style="font-size: 15px">Mọi thắc mắc của khách hàng sẽ luôn được chúng tôi hỗ trợ tận tình và chu đáo</p>
            <a href="/" ><h4 style="color:red">CAR-ONLINE</h4></a>
        </div>
        <div class="col-xl-1"></div>
    </div>
</footer>