
<!DOCTYPE HTML>
<html>
<head>
	<title>Free Cars-Online Website Template | Specials :: w3layouts</title>
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href='//fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="header-bg">
	<div class="wrap"> 
		<div class="h-bg">
			<div class="total">
				<div class="header">
					
					</div><div class="clear"></div> 
					<div class="header-bot">
						<div class="logo">
							<a href="index.html"><img src="/images/logo.png" alt=""/></a>
						</div>
						<div class="search">
						    <input type="text" class="textbox" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
						    <button class="gray-button"><span>Search</span></button>
				       </div>
					<div class="clear"></div> 
				</div>		
		</div>	
		<% include layoutMenu%>
		<div class="banner-top">
			<div class="header-bottom">
				 <div class="header_bottom_right_images">
				     	
		  			<div class="content-wrapper">		  
						<div class="content-top">
							<div class="about_wrapper"><h1>Giỏ hàng của tôi</h1>
						</div>
						<br>
						<div class="container">
							<div class="row">
								<div class="col-2">
								</div>
								<div class="col-2">
									<img src="/images/detail-0.jpg">
								</div>
								<div class="col-3">
									<h4>BMW i8 - Emerald</h4>
									<h4>B0123456789</h4>
								</div>
								<div class="col-2">
									<h5>Trong kho</h5>
									<p>Sẵn sàng để giao hàng</p>
								</div>
								<div class="col-1">
									<select>
										<option value="1">01</option>
										<option value="2">02</option>
										<option value="3">03</option>
										<option value="4">04</option>
										<option value="5">05</option>
									</select>
								</div>
								<div class="col-2">
									<p>1000000$</p>
									<p></p>
									<h6>X Xóa</h6>
								</div>
								
							</div>
							
							
						</div>
					</div>							
					</div>
				<div class="paging">
		            <ul>
		                <li><a href="#" target="_parent">Previous</a></li>
		                <li><a href="#" target="_parent">1</a></li>
		                <li><a href="#" target="_parent">2</a></li>
		                <li><a href="#" target="_parent">3</a></li>
		                <li><a href="#" target="_parent">4</a></li>
		                <li><a href="#" target="_parent">5</a></li>
		                <li><a href="#" target="_parent">6</a></li>
		                <li><a href="#" target="_parent">Next</a></li>
		            </ul>
       			</div>
		</div>		
		<div class="header-para">
				<div class="categories">
				<div class="box"> 
					<div class="khunghoadon">
						<div class="container">
							<div class="row">
								<div class="col-6">
									<p>Tổng tiền:</p>
									<p>Giảm:</p>
								</div>
								
								<div class="col-4">
									<p>1000000$</p>
									<p>100000$</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-6">
									<h5>Tổng cộng:</h5>
								</div>
								<div class="col-4">
									<h5>900000$</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-4">
								</div>
									<button class="btnThanhtoan-cart">Thanh toán</button>
							</div>
						</div>
					</div>			
				</div>
				
				
				</div>
	</div>
		
		<% include layoutFooter%>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

    	
    	
            