<header>

    <div class="container-fluid">
        <div class="row fixed-top" id="menu">
            <!--Menu left-->
            <nav class="navbar navbar-expand-sm justify-content-between w-100">
                <ul class="navbar-nav ml-5">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><h3 id="logo">CAR_ONLINE</h3></a>
                    </li>

                    <li class="nav-item" >
                        <a class="nav-link" href="/list_products/<%=0%>/<%=1%>">Danh sách sản phẩm</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Lịch sử</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                    <li class="nav-item">

                    </li>

                </ul>
                <ul class="navbar-nav">
                    <form action="" method="get">
                        <li class="nav-item">
                            <a class="nav-link" style="position: relative;">
                                <input style="position: static;" type="text" id="input_search_header" name="textSearch" placeholder="Tìm kiếm sản phẩm ..." >
                                <button type="submit" style="width: 60px;margin-top: 5px"><img id="img_search_header" src="/images/icon-search.png" style="margin-top: 5px" /></button>
                            </a>
                        </li>

                    </form>


                    <%if(user){%>
                        <li class="nav-item">
                            <a class="nav-link" href="/my_profile"><img src="<%=user.link_anh%>" style="width: 30px;height: 30px;border-radius: 5px"></a>

                        </li>
                    <%}else {%>
                        <li class="nav-item">
                            <a class="nav-link" href="/my_profile"><img src="/images/people.PNG"></a>

                        </li>
                    <%}%>
                    <%if(user){%>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"><button><%=signOut%></button></a>
                        </li>
                    <%}else {%>
                        <li class="nav-item">
                            <a class="nav-link" href="/login"><button>Log in</button></a>
                        </li>
                    <%}%>
                    <li class="nav-item">
                        <a class="nav-link" href="/sign_up"><button>Sign up</button></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="card-fluid-custom fixed-bottom  d-flex" id="my_cart">
    <a href="/cart" id="my-cart">
        <button id="btn-my-cart" style="background-color: rgb(16, 147, 81)">
            <img src="/images/cart.PNG">
            <span>Giỏ hàng</span>
        </button>
    </a>
</div>