<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styleheader.css" />
    <link rel="stylesheet" href="/stylesheets/styleform.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Trang sản phẩm</title>
</head>
<body>
    <<!--header-->
    <%include header.ejs%>
    <!--end header-->
    <div class="container">
        <div class="row" id="rowdk">
            <div class="col-xl-3"></div>
            <div class="col-xl-6">
                <form id="form_sign_up" style="border-bottom: 200px">
                    <h4 class="text-center" style="color: red"> CAR-ONLINE </h4>
                    <p class="text-center" style="font-size: 18px">Đăng kí thành viên</p>
                    <hr>
                    <div class="row">
                        <div class="col-xl-2"></div>
                        <div class="col-xl-8">
                            <form >
                                <hr>
                                <p style="color: #2AB391;font-size: 15px;margin-left: 20px;font-size: 17px">Vui lòng lấy mã xác nhận trước khi đăng kí</p>
                                <input type="button" data-toggle="modal" data-target="#exampleModal1"  value="Lấy mã xác nhận từ email" style="margin-bottom: 20px;margin-left: 40px; height: 40px;background-color: #25AEE4;width: 250px">
                                <hr>
                                <hr>
                                <%if(thongBaoMXN!="abc"){%>
                                <p style="color: red;margin-left: 40px"><%=thongBaoMXN%></p>
                                <%}%>
                                <input type="button" data-toggle="modal" data-target="#exampleModal"  value="Đăng kí" style="margin-bottom: 20px;margin-left: 40px; height: 40px;background-color: #25AEE4;width: 250px">
                                <hr>
                            </form>
                        </div>
                        <div class="col-xl-2"></div>
                    </div>

                </form>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel" style="color: green;margin-left: 130px">THÔNG TIN ĐĂNG KÍ</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="form-Modal" id="form-ModalPost" action="/sign_up" method="post">


                                    <div class="form-group">
                                        <label style="color: #2AB391">Nhập mã xác nhận vừa nhập được</label>
                                        <input type="text" class="form-control" id="MXN"  name="MXN" placeholder="123456" onkeyup=verifyMXN()>
                                        <span id="noticeMXN"></span>
                                    </div>

                                    <div class="form-group">
                                        <label style="color: #2AB391">Tên đăng nhập</label>
                                        <input type="text" class="form-control" id="txtUserName" name="username" placeholder="Tên đăng nhập" onkeyup="verifyUsername()">
                                        <span id="noticeUsername"></span>
                                    </div>
                                    <div class="form-group">
                                        <label style="color: #2AB391" >Mật khẩu</label>
                                        <input type="password" class="form-control" id="txtPassWord" name="password" placeholder="Mật khẩu" onkeyup="verifyPassword()">
                                        <span id="noticePassword"></span>
                                    </div>
                                    <div class="form-group">
                                        <label style="color: #2AB391">Xác nhận mật khẩu</label>
                                        <input type="password" class="form-control" id="txtPassWordAgain" placeholder="Xác nhận mật khẩu" onkeyup=verifyRetypePassword()>
                                        <span id="noticeRetypePassword"></span>
                                    </div>
                                    <div class="form-group">
                                        <label style="color: #2AB391">Tên khách hàng</label>
                                        <input type="text" class="form-control" id="txtNameCus" name="ten" placeholder="Tên khách hàng" onkeyup=verifyall()>
                                        <span id="noticeNameCus"></span>
                                    </div>
                                    <div class="form-group">
                                        <label style="color: #2AB391">Email liên lạc: </label>
                                        <input type="text" class="form-control" id="txtEmail" name="email" placeholder="Email" >
                                        <span id="noticeUsername"></span>
                                    </div>
                                    <div class="form-group">
                                        <label style="color: #2AB391">Link ảnh</label>
                                        <input type="text" class="form-control" id="txtlinkanh" name="link_anh" placeholder="Song jong ki" onkeyup=verifyall()>
                                        <span id="noticePhone"></span>
                                    </div>

                                    <input type="submit" class="btn btn-primary text-center" id="btn_signUp" style="margin-left: 200px;background: #25AEE4" value="Đăng kí">

                                </form>
                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>

                    </div>
                </div>
                <!-- Modal -->


                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel" style="color: red">Lấy mã xác nhận</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="form-Modal" id="form-ModalPost" action="/sign_up" method="get">

                                    <div class="form-group">
                                        <label style="color: #2AB391">Email nhận Mã Xác Nhận: </label>
                                        <input type="text" class="form-control" id="txtEmail" name="Email" placeholder="Email" >
                                        <span id="noticeUsername"></span>
                                    </div>
                                    <input type="submit" value="Lấy" style="background-color: #25AEE4; color: black;margin-left: 200px;width: 100px;border: black 1px solid">

                                </form>
                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>

                    </div>
                </div>
                <!-- Modal -->

            </div>
            <div class="col-xl-3"></div>
        </div>
    </div>
    <%include footer.ejs%>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script language="javascript" src="/javascripts/signUp-verify.js"></script>
</body>
</html>