
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Cars-Online Website Template | Specials :: w3layouts</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='//fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<div class="header-bg">
	<div class="wrap"> 
		<div class="h-bg">
			<div class="total">
				<div class="header">
					 
					<div class="header-bot">
						<div class="logo">
							<a href="index.html"><img src="/images/logo.png" alt=""/></a>
						</div>
						<div class="search">
						    <input type="text" class="textbox" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
						    <button class="gray-button"><span>Search</span></button>
				       </div>
					<div class="clear"></div> 
				</div>		
		</div>	
		<% include layoutMenu%>
		<div class="banner-top">	
				<div class="container">	
					<div class="row">	
						<div class="col-2">							
						</div>					
						<div class="col-3">
							<img src="images/pic17.jpg">
						</div>
						<div class="col-4">
							<h4>Bugatti veyron</h4>
							<p>Dòng xe cao cấp</p>
							<p>Giảm 1000$ áp dụng từ 02/04</p>
							<p>Bảo hành 10 năm</p>
							<p>Cơ hội trúng voucher du lịch Mỹ</p>
							<h5>Màu: Đỏ</h5>
						</div>
						<div class="col-1">
							<h4>2000000$</h4>
							<p></br></p>
							<p></br></p>
							<p></br></p>
							<p></br></p>
							<select>
								<option value="0">Số lượng</option>
								<option value="1">01</option>
								<option value="2">02</option>
								<option value="3">03</option>
								<option value="4">04</option>
								<option value="5">05</option>
							</select>
						</div>					
					</div>
					<hr>
					<div class="row">
						<div class="col-2">
						</div>
						<div class="col-3">
							<p>Tổng tiền:</p>
							<p>Giảm: </p>
							<h5>Cần thanh toán</h5>
						</div>
						<div class="col-4">
						</div>
						<div class="col-1">
							<p>2000000$</p>
							<p>0$</p>
							<h5>2000000$</h5>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-2">
						</div>
						<div class="col-2">
							<input type="radio" value="Anh" name="gender">&nbsp Anh
						</div>
						<div class="col-2">
							<input type="radio" value="Chị" name="gender">&nbsp Chị
						</div>
					</div>
					</br>
					<div class="row">
						<div class="col-2">
						</div>
						
						<div class="col-4">
							<input class="hotenxacnhan" type="text" placeholder="Họ và tên"> 
						</div>
						<div class="col-4">
							<input class="sdtxacnhan" type="text" placeholder="Số điện thoại"> 
						</div>
					</div>
					</br>
					<div class="row">
						<div class="col-4">
						</div>
						<div class="col-4">
							<button class="btnthanhtoan"><a href="/giohang">Thanh toán</a></button>
						</div>
					</div>
				</div>
										
		</div>
        <% include layoutFooter%>
</div>
</div>
</div>
</div>
</div>
</body>
</html>

    	
    	
            