<div class="menu"> 	
			<div class="top-nav"> 
					<ul>
						<li class="active"><a href="/">Trang chủ</a></li>
						<li><a href="about.html">Thông tin</a></li>
						<li><a href="specials.html">Loại xe</a></li>
						<li><a href="/new">Mới</a></li>
						<li><a href="contact.html">Liên hệ</a></li>
					</ul>
					<div class="clear"></div> 
				</div>
		</div>